[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
alembic = "*"
psycopg2-binary = "*"
python-dotenv = "*"
aiogram = "*"
unidecode = "*"
pillow = "*"
pytz = "*"
flask = "*"
flask-jwt-extended = "*"
gunicorn = "*"
names = "*"
countryinfo = "*"
pycryptodome = "*"
argon2-cffi = "*"
numpy = "*"
sqlalchemy = "<3,>=2.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.14"
