key_validity_options = [10 * 365]
max_key_age = 365*24*60*60
key_size_options = [1024]


probability_has_cn = 1
probability_cn_is_organization_unit = 1
probability_has_ou = 1
probability_ou_is_organization = 1
probability_has_o = 1
probability_has_c = 1
probability_has_l = 1


organizations = [
    "Organization",
]

organization_units = [
    "Developer"
]

countries = [
    "United States"
]
